body{
    background-color: #9ab7d3;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
   

}

header{
    background-color: #bdd0c4;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
    

}
.container {
   columns: 3 250px;
   column-gap: 2em;
   display: grid;
   
}
@media (min-width: 50em) {
    .container{grid-auto-flow: column;}
   
    .driftracing:nth-child(3n+1) {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: black;
        background-image: url(../img/drift3.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        height: 250px;
        grid-column: 1;
        
     }
    .rallyracing:nth-child(3n+2) {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: black;
        background-image: url(../img/rally2.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
        grid-column: 2;
        
    }
    .dragracing:nth-child(3n+3) {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: black;
        background-image: url(../img/drag.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
        grid-column: 3;}

}

    
    
    


footer{
    background-color: #f7e1d3;
    margin: 0;
    padding: 5px;
    clear: both;
    text-align: center;

}

p {margin-top: 0;}