body{
    background-color: #9ab7d3;
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;

}

header{
    background-color: #bdd0c4;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
    

}
.container {
    background-color: #dfccf1;
    width: 100%;
    margin: 0%;

}
.driftracing {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
    background-image: url(../img/drift3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    width: 30%;
    margin: 10px;
    margin-left: 3%;
    
}
.rallyracing {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
    background-image: url(../img/rally2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float:left;
    width: 30%;
    margin: 10px;
    margin-left: 3%;
    

}
.dragracing {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
    background-image: url(../img/drag.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
    width: 30%;
    margin: 10px;
    margin-left:3%;
    

}
footer{
    background-color: #f7e1d3;
    margin: 0;
    padding: 5px;
    clear: both;
    text-align: center;

}